* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
   
  .logo-image{
    width: 65px;
    height: 65px;
    border-radius: 35%;
    overflow: hidden;
    margin-top: -6px;
}

.nav-link{
  font-size: larger;
}