{% extends 'base.html' %}

{% load static %}


{% block title %}Basic Banking System{% endblock %}

{% block linkshead %}
<link rel="stylesheet" href="{% static 'css/styleindex.css' %}">
{% endblock %}

{% block nav_item_home %}active{% endblock nav_item_home %}
{% block body %} 

<div class="container-fluid mt-3">
  <div class="row">

    <div class="col-lg-1 col-md-1 col-12">

    </div>

    <div class="col-lg-5 col-md-5 col-12 mt-3">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1563013544-824ae1b704d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="d-block w-100 slider_img" alt="Basic Banking System">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1601597111158-2fceff292cdc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="d-block w-100 slider_img" alt="Basic Banking System">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1551260627-fd1b6daa6224?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=747&q=80" class="d-block w-100 slider_img" alt="Basic Banking System">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    </div>


    <div class="col-lg-5 col-md-5 col-12 mt-3">
      <h2 class="heading2">The Sparks Bank</h2>

      <h5 class="heading5">Mission and Vision Statement</h5>

      <p class="para1">Banking is delightful. Not only it gives the Impulse to Capitalism such as Credit. History is consistent as every field came after the Banks. Talking about the Railways, Automobiles, Telephones, Airways, Companies, and Technology firms. Banks are the roots of every setup which can be owned by one.</p>

      <button type="button" class="btn btn-outline-danger">KNOW MORE</button>
    </div>

    <div class="col-lg-1 col-md-1 col-12">

    </div>

  </div>
</div>


<section id="features">
  <div class="feature-row">
      <div class="feature-col mt-3">
          <img src="{% static 'images/customers.png' %}">
          <a href="/customers" class="btn btn-outline-dark">View Customers</a>
      </div>
      <div class="feature-col mt-3">
          <img src="{% static 'images/transfer-money.png' %}">
          <a href="/transfermoney" class="btn btn-outline-dark">Transfer Money</a>
      </div>
      <div class="feature-col mt-3">
          <img src="{% static 'images/history.png' %}">
          <a href="/transactionhistory" class="btn btn-outline-dark">Transaction History</a>
      </div>
  </div>

</section>

{% endblock %}
