{% extends 'base.html' %}

{% load static %}

{% block title %}Transfer Money{% endblock %}

{% block linkshead %}
<link rel="stylesheet" href="{% static 'css/styletransfer.css' %}">
{% endblock %}

{% block nav_item_money %}active{% endblock nav_item_money %}

{% block body %}
<section class="headingtransfer container-fluid">
  <div class="my-5">
    <h3 class="text-uppercase text-center" data-aos="zoom-in-down" data-aos-delay="300" data-aos-duration="1500">Transfer Money</h3>
  </div>

  <div class="table-responsive">
    <table class="table table-hover text-center table-striped table-bordered" id="tbval">

      <tr class="table-dark">
        <!-- <th class="text-capitalize" style="padding: 10px;" scope="col">id</th> -->
        <th class="text-capitalize" style="padding: 10px;" scope="col">Name</th>
        <th class="text-capitalize" style="padding: 10px;" scope="col">Email</th>
        <th class="text-capitalize" style="padding: 10px;" scope="col">Current Balance</th>
        <th class="text-capitalize" style="padding: 10px;" scope="col">Operation</th>
      </tr>


      {% for customer in customers %}
      <tr>
        <!-- <th scope="row">{{customer.id}}</th> -->
        <td>{{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.balance}}</td>
        <td><a href="/transfernow/{{customer.id}}" class="btn btn-outline-danger">Transfer Now</a></td>
      </tr>
      {% endfor %}

    </table>


  </div>

</section>
{% endblock %}